
#cameraWheel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: none;
    overflow: hidden;
    pointer-events: none;
    border: solid;

    width: 16.5vw;
    height: 33vw;
    border-radius:  0 16.5vw 16.5vw 0;

}

#activity-wheel-wrapper{
    position: relative;
    overflow: visible;
    animation:spin 1s ease-in 1;
    pointer-events: none;
    transition: rotate .5s;
}

@keyframes spin { 
    1% { 
        transform:rotate(200deg); 
    }
    99%{
        transform: rotate(0deg);
    }
}

#spinner-center{
    position: absolute;
    background: rgb(7, 94, 29);
    z-index: 17;
    border-radius: 50% 50%;
    top: 33.75%;

    
    height: 31.5%;
    width: 63%;
    left: -31%;
    pointer-events: none;
}

#spinner-needle{
    position: absolute;
    z-index: 17;
    top: 49%;


    border-top: 5px solid transparent;
	border-right: 5px solid rgb(3, 146, 38);
    border-bottom: 5px solid transparent;
    width: 0vw;
    left: 95%;
    pointer-events: none;
}



.spinner-shader{
    position: absolute;
    z-index: -1;
    border-radius: 50% 50%;
    top: 0;


    left: -100%;
    width: 200%;
    height: 100%;
    pointer-events: none;
}

#spinner-light{
    background-image: radial-gradient(rgb(12 150 46 / 12%) 30%, rgb(35 30 30 / 0%) 70%);
}

#spinner-shadow{
    background-image: radial-gradient(rgba(255, 255, 255, 0) 57%, rgba(12, 150, 46, 0.384));
}

.camera-panel{
    position: absolute;
    display: flex;
    transform-origin: left center;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    width: 16.5vw;
    height: 2px;
    align-content: center;
    top: 1px;
    z-index: 16;
    
}
.camera-panel span{
    display: block;
    height: 3vw;
    font-size: 3vw;
    position: relative;
    left: -1.4vw;
    color: rgb(7, 78, 25);
    z-index: 16;
    pointer-events: none;
}
.available span{
    color: rgb(21, 187, 62) !important;
    pointer-events: all;
}

.available span:hover{
    background-color: rgb(16, 54, 26) !important;
    cursor: pointer;
}

#buttonWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

