.camera-wheel-wrapper{
    display: grid;
    grid-template-areas:'display wheel button'
    'display wheel currentActivity';
    grid-column: 1/4;
    margin: 0 auto;
}


app-camera-wheel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: none;
    z-index: -1000;
    overflow: hidden;

    width: 16.5vw;
    height: 33vw;
    border-radius:  0 16.5vw 16.5vw 0;
    margin: 0 1vw 0 0;
    grid-area: wheel;
}