app-curiosity-rover-photos{
    display: flex;
    grid-template-areas: 'photo photo photo panel camera';
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: end;
    margin: 24px;
    
}