/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	list-style: none;
	color: rgb(12, 150, 46);
    font-family: "Jersey 10", sans-serif;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.hidden{
    display: none;
    pointer-events: none;
}
  
.sr-only {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    z-index: -999;
}

::-webkit-scrollbar{
    width: 10px;
    

}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7, 94, 29);
    border-radius: 5px;
  }

/* ----------------------------------- beign generic styling -------------------------------- */


html{
    background-color: rgb(18, 24, 18);
    background-image: radial-gradient(rgba(230, 230, 230, 0) 50%, rgba(0, 0, 0, 0.555));
}
button{
    cursor: pointer;
}

app-root{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

h1{
    grid-column: 1 / 4;
    text-align: center;
    font-size: 5rem;
}
h2{
    text-align: center;

    font-size: 2rem;
    grid-column: 1 / 4;
    padding:  5px 5px;
}
h2 span{
    font-family: sans-serif;
    background-color: rgb(12, 150, 46);
    color: rgb(18, 24, 18);
    text-align: center;

    font-size: 1.8rem;
    grid-column: 1 / 4;
    padding:  1rem .5rem;
    padding:  5px 5px;
}

.camera-wheel-wrapper{
    display: contents;
}
button{
    background: transparent;
    transition-duration: 0.4s;
    background-color: rgb(7, 94, 29);
    border: none;
    
    text-align: center;
    padding:  1rem .5rem;
    
 
    font-size: 2vw;
    color: rgb(18, 24, 18);
    border-radius: 30px;
    padding: 10px 20px;
 }
 button:hover{
    background-color:  rgb(2, 202, 52);
    
 }
 .encapsulated{
    border-radius: 50px;
    border-color: rgb(7, 94, 29);
    border: solid 5px;
    padding: 5px;
 }





/* ----------------------------------- end Button -------------------------------- */
/* ----------------------------------- begin display  -------------------------------- */

