/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	list-style: none;
	color: rgb(12, 150, 46);
    font-family: "Jersey 10", sans-serif;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
.sr-only {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    z-index: -999;
}

::-webkit-scrollbar{
    width: 10px;
    

}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7, 94, 29);
    border-radius: 5px;
  }

/* ----------------------------------- beign generic styling -------------------------------- */


html{
    background-color: rgb(18, 24, 18);
    background-image: radial-gradient(rgba(230, 230, 230, 0) 50%, rgba(0, 0, 0, 0.555));
}
button{
    cursor: pointer;
}

app-root{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

h1{
    grid-column: 1 / 4;
    text-align: center;
    font-size: 5rem;
}
h2{
    text-align: center;

    font-size: 2rem;
    grid-column: 1 / 4;
    padding:  5px 5px;
}
h2 span{
    font-family: sans-serif;
    background-color: rgb(12, 150, 46);
    color: rgb(18, 24, 18);
    text-align: center;

    font-size: 1.8rem;
    grid-column: 1 / 4;
    padding:  1rem .5rem;
    padding:  5px 5px;
}

.camera-wheel-wrapper{
    display: grid;
    grid-template-areas:'display wheel button'
    'display wheel currentActivity';
    grid-column: 1/4;
    margin: 0 auto;
}


app-camera-wheel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: none;
    z-index: -1000;
    overflow: hidden;

    width: 16.5vw;
    height: 33vw;
    border-radius:  0 16.5vw 16.5vw 0;
    margin: 0 1vw 0 0;
    grid-area: wheel;
}



app-go-button{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    grid-area: button;

}

app-go-button button{
    background: transparent;
    transition-duration: 0.4s;
    background-color: rgb(7, 94, 29);
    border: none;

    font-size: 3rem;
    color: rgb(18, 24, 18);
    border-radius: 30px;
    padding: 10px 20px;
}
app-go-button button:hover{
    background-color:  rgb(2, 202, 52);
    
}

app-go-button h3{
    font-size: 2rem;
    grid-column: 1 / 4;
    text-align: center;
    padding:  1rem .5rem;
    
}

/* ----------------------------------- end Button -------------------------------- */
/* ----------------------------------- begin display  -------------------------------- */

app-output-display {
    grid-area: display;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    overflow-y: scroll;


    border: .5rem  solid rgb(7, 94, 29);
    border-right: none;
    border-radius:  30px 0 0 30px;
    min-width: 20vw;
    max-width: 33vw;
    max-height: 33vw;
}
app-selected-act-li{
    margin: 5px 0;
}

app-selected-act-li p {
    text-align: center;

    font-size: 2.5vw;
    padding: 2px 2px;
}

app-selected-act-li p:hover{
    background-color:  rgb(3, 146, 38);
    color: rgb(18, 24, 18);
    cursor: pointer;
}


/* ----------------------------------- end Button -------------------------------- */

app-filter-container{
    display: none;
    grid-column: 1/4;
    
}
