app-camera-wheel{
    grid-area: camera;
    display: flex;
    
}
app-dispaly-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
}
app-photo-info-panel{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: stretch;
    grid-area: panel;
}


#current-img{
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    align-content: stretch;
}