app-camera-wheel{
    display: flex;


}
app-dispaly-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vw;
    margin: 16px;
}
app-photo-info-panel{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: stretch;
    margin-left: 16px;
}


#current-img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    padding: 0;
}