#photo-btns{
    display: grid;
    grid-template-areas:
    'label label'
    'name name'
    'readout readout'
    'next prev'
    'random random';
    gap: 10px;
    justify-items: center;
    align-content: end;

    border-radius: 20px 0 0 20px;
    border-width: 2px;
}


#camera-name{
    grid-area: name;
    width: 12vw;
    text-align: center;
    align-self: start;
    font-weight: bold;
    background-color: rgb(7, 94, 29);
    color: rgb(18, 24, 18);
    padding: 5px;

}

#index-photo-ind{
    grid-area: readout;
    font-size: 2vw;
}

#next-btn{
    grid-area: next;
}

#prev-btn{
    grid-area: prev;
}

#rand-btn {
    grid-area: random;
}
#img-label{
    grid-area: label;
    justify-self: start;
}